{% extends "layout.html" %}

{% block script%}

{% endblock%}

{% block body %}


<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>朴素贝叶斯</h1>
    <p class="lead">朴素贝叶斯法（Naive Bayes）是基于贝叶斯定理与特征条件独立假设的分类方法。 </p>
  </div>
</header>

<div class="container">
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li class=""><a href="#section1"><i class="icon-chevron-right"></i> 参数设定</a></li>
          <li class=""><a href="#section2"><i class="icon-chevron-right"></i> 结果展示</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Section
        ================================================== -->
        <section id="section1">
          <div class="page-header">
            <h1>参数设定</h1>
          </div>
           <form action="" method="post">
               
               <p><input type="submit" value="提交"></p>
           </form>

        </section>

          <section id="section2">
          <div class="page-header">
            <h1>结果展示</h1>
          </div>
            <button id="knn_btn">run</button>
          </section>

      </div>
    </div>
</div>

{%endblock%}