{% extends "layout.html" %}

{% block script%}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>

<script>
    $(function(){

        $("#decision_tree").click(function () {
            $("#decision_tree").button('loading'),
            $.ajax({
                url: "/decision-tree",
                method:"post",
                success: function (data) {
                    var jsonData = JSON.parse(data);
                    $("#correctRate").text(jsonData.correctRate);
                    $("#coverRateH1").text(jsonData.coverRateH1);
                    $("#coverRateH2").text(jsonData.coverRateH2);
                    $("#coverRateH3").text(jsonData.coverRateH3);
                    $("#coverRateH4").text(jsonData.coverRateH4);
                    $("#decision_tree").button('reset')
                }
            });
        });

    })
</script>

{% endblock%}

{% block body %}


<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>决策树</h1>
    <p class="lead">决策树(Decision Tree）是在已知各种情况发生概率的基础上，通过构成决策树来求取净现值的期望值大于等于零的概率，评价项目风险，判断其可行性的决策分析方法，是直观运用概率分析的一种图解法 </p>
  </div>
</header>

<div class="container">
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li class=""><a href="#section2"><i class="icon-chevron-right"></i> 结果展示</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Section
        ================================================== -->

        <!-- Section
        ================================================== -->
        <section id="section1">

        </section>

          <section id="section2">
          <div class="page-header">
            <h1>结果展示</h1>
          </div>
            <table class="table table-striped">
                  <tr>
                      <td>正确率</td>
                      <td>H1覆盖率</td>
                      <td>H2覆盖率</td>
                      <td>H3覆盖率</td>
                      <td>H4覆盖率</td>
                  </tr>
                  <tr>
                      <td id="correctRate">-</td>
                      <td id="coverRateH1">-</td>
                      <td id="coverRateH2">-</td>
                      <td id="coverRateH3">-</td>
                      <td id="coverRateH4">-</td>
                  </tr>
              </table>
              <button id="decision_tree" class="btn btn-primary" data-loading-text="正在加载">运行</button>
          </section>
      </div>
    </div>
</div>

{%endblock%}