{% extends "layout.html" %}

{% block script%}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>

<script>
    $(function(){
        $("#knn_btn").click(function () {
            $.ajax({
                url: "/knn-result",
                success: function (data) {
                    var jsonData = JSON.parse(data);
                    $("#correctRate").text(jsonData.correctRate);
                    $("#coverRateH1").text(jsonData.coverRateH1);
                    $("#coverRateH2").text(jsonData.coverRateH2);
                    $("#coverRateH3").text(jsonData.coverRateH3);
                    $("#coverRateH4").text(jsonData.coverRateH4);

                }
            });
        });
    })

</script>
{% endblock%}

{% block body %}


<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>k近邻算法</h1>
    <p class="lead">K最近邻(k-Nearest Neighbor，KNN)分类算法，是一个理论上比较成熟的方法，也是最简单的机器学习算法之一。该方法的思路是：如果一个样本在特征空间中的k个最相似(即特征空间中最邻近)的样本中的大多数属于某一个类别，则该样本也属于这个类别。 </p>
  </div>
</header>

<div class="container">
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li class=""><a href="#section1"><i class="icon-chevron-right"></i> 参数设定</a></li>
          <li class=""><a href="#section2"><i class="icon-chevron-right"></i> 结果展示</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Section
        ================================================== -->
        <section id="section1">
          <div class="page-header">
            <h1>参数设定</h1>
          </div>
        <table class="table table-striped">
                  <tr>
                      <td>k</td>
                      <td>lp</td>
                  </tr>
                  <tr>
                      <td >{{ knn_k}}</td>
                      <td >{{ knn_lp}}</td>
                  </tr>
        </table>

         <form  action="" method="post" class="from">
             <div>
                 <label  for="inputK">K: </label>
                 <input type="text" name="knn_k" id = "inputK" placeholder="请输入邻居个数(正整数)...">
             </div>
             <div>
                 <label   for="inputLp">Lp: </label>
                 <input type="text" name="knn_lp" id="inputLp" placeholder="请输入距离度量lp范数(正整数)...">
             </div>
             <button type="submit" class="btn btn-primary">修改</button>
         </form>


        </section>

          <section id="section2">
          <div class="page-header">
            <h1>结果展示</h1>
          </div>
{#              <p >正确率: <span id="correct_rate"></span></p>#}
              <button id="knn_btn" class="btn btn-primary">运行</button>
              <table class="table table-striped">
                  <tr>
                      <td>正确率</td>
                      <td>H1覆盖率</td>
                      <td>H2覆盖率</td>
                      <td>H3覆盖率</td>
                      <td>H4覆盖率</td>
                  </tr>
                  <tr>
                      <td id="correctRate">-</td>
                      <td id="coverRateH1">-</td>
                      <td id="coverRateH2">-</td>
                      <td id="coverRateH3">-</td>
                      <td id="coverRateH4">-</td>
                  </tr>
              </table>

          </section>

      </div>
    </div>
</div>

{%endblock%}