{% extends "layout.html" %}

{% block script%}

{% endblock%}

{% block body %}


<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>支持向量机</h1>
    <p class="lead">支持向量机(Support Vector Machine，SVM)是Corinna Cortes和Vapnik等于1995年首先提出的，它在解决小样本、非线性及高维模式识别中表现出许多特有的优势，并能够推广应用到函数拟合等其他机器学习问题中。 </p>
  </div>
</header>

<div class="container">
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li class=""><a href="#section1"><i class="icon-chevron-right"></i> 参数设定</a></li>
          <li class=""><a href="#section2"><i class="icon-chevron-right"></i> 结果展示</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Section
        ================================================== -->
        <section id="section1">
          <div class="page-header">
            <h1>参数设定</h1>
          </div>
           <form action="" method="post">

               <p><input type="submit" value="提交"></p>
           </form>

        </section>

          <section id="section2">
          <div class="page-header">
            <h1>结果展示</h1>
          </div>
            <button id="knn_btn">run</button>
          </section>

      </div>
    </div>
</div>

{%endblock%}